
.side-menu {
    width: 250px;
    transform: translateX(-250px);
    transition: transform 0.4s ease-in-out;
    z-index: 1000;
}

.side-menu.open {
    transform: translateX(0);
}

.menu-toggle {
    transition: transform 0.4s ease;
}

.side-menu.open .menu-toggle {
    transform: translateX(100%);
}

.modal {
    overflow: hidden; 
}

.modal-content {
    max-height: 80vh; 
    overflow-y: auto; 
    padding: 20px; 
}

.modal.open {
    display: flex; 
}

.close {
    font-size: 1.5rem; 
}

.close:hover {
    color: red;
}

